<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qu Fanshu's Games Center</title>
    <link rel="stylesheet" href="/static/base.css?v=3">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    {% block head %}{% endblock %}
</head>
<body>
<div class="top-area">
    <h1 class="top-heading">Qu Fanshu's Games Center</h1>
    <div class="current-game">{{ session.get('cur_game','') | capitalize }}</div>
    <nav class="menu">
        <ul>
            <li><a href="/select">Select</a></li>
            <li><a href="/new_game">New</a></li>
            <li><a href="/game">Play</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/lobby">Online PvP</a></li>
            {% if session.get('user_id') %}
            <li><a href="/logout">{{ session['username'] }}</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% block main_content %}
{% endblock %}
</body>
</html>